body{
    color: darkcyan;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    display: flexbox;
}
#cabecera {
    background-color: red;
    color: burlywood;
    margin: 0;
    text-align: left;
    align-items: center;
    align-content: center;
    padding: 1em;
}
#cabecera span {
    font-size: .6em;
}
#cabecera h1 {
    margin: 0;
}
#container {
    display: inline-block;
    width: 60%;
    padding: 0;
    text-align: center;
    border: 1px solid black;
    margin: 0;
    align-items: center;
    align-content: center;
}
